.my-form{
  width: 800px;
  height: 100px;
  border-left: 5px solid #000;
  border-right: 5px solid #000;
  border-top:5px solid #000;;
  border-bottom:5px solid #000;
  padding: 10px 0;
  margin: 50px auto;
}

.my-textArea{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top:1px solid #000;;
  border-bottom:1px solid #000;
}
